<template>
  <div v-if="loaded">
    <template v-if="name">
      <div v-show="showRename">
        <el-row :gutter="10">
          <el-col :span="6">
            <el-input
              ref="rename"
              v-model="newName"
              size="large"
              autofocus
              autoselect
              @keyup.enter.native="rename" />
          </el-col>
          <el-col :span="18">
            <el-button size="large" type="primary" @click="rename">
              Save
            </el-button>
            <el-button size="large" @click="showRename = false">
              Cancel
            </el-button>
          </el-col>
        </el-row>
        <br>
      </div>

      <h1 v-show="!showRename">
        {{ name }}
        <el-tag v-if="isEnabled" type="success" class="m-w-xs">
          <Bulb success />
          Enabled
        </el-tag>
        <el-tag v-else type="warning">
          Disabled
        </el-tag>
      </h1>

      <el-alert v-if="silenceNotice" :closable="false" :title="silenceNotice" show-icon type="info" />

      <el-row>
        <router-link :to="{
          name: 'ruleconfigeditor',
          params: { action: 'edit', path: id } }">
          <el-button icon="el-icon-edit" plain type="primary">
            Edit
          </el-button>
        </router-link>

        <el-button plain type="info" @click="showRenameInput">
          Rename
        </el-button>

        <el-button plain type="info" @click="duplicate">
          Duplicate
        </el-button>

        <el-button plain type="info" @click="showMoveDialog">
          Move
        </el-button>

        <el-button
          v-if="isEnabled"
          plain
          type="warning"
          @click="handleDisable">
          Disable...
        </el-button>

        <el-popover
          v-if="isEnabled"
          v-model="silencePopoverVisible"
          :disabled="!!silenceNotice">
          <span slot="reference">
            <el-button
              :disabled="!!silenceNotice"
              plain
              type="warning">
              Silence
              <i v-if="!silencePopoverVisible" class="el-icon-caret-bottom el-icon-right" />
              <i v-if="silencePopoverVisible" class="el-icon-caret-top el-icon-right" />
            </el-button>
          </span>
          <template>
            <el-row type="flex" justify="space-around">
              <el-col :span="24" align="center">
                <el-button @click="handleSilence('minutes', 5)">
                  5 minutes
                </el-button>
                <el-button @click="handleSilence('hour', 1)">
                  1 hour
                </el-button>
                <el-button @click="handleSilence('day', 1)">
                  1 day
                </el-button>
              </el-col>
            </el-row>
            <hr>
            <ElastalertTimePicker
              v-if="silenceTime"
              :unit="Object.keys(silenceTime)[0]"
              :amount="Object.values(silenceTime)[0]"
              @input="updateSilenceTime" />
            <el-button
              class="m-w-sm"
              @click="handleSilence(Object.keys(silenceTime)[0], Object.values(silenceTime)[0])">
              Silence
            </el-button>
          </template>
        </el-popover>

        <el-button
          v-if="!!silenceNotice"
          plain
          type="warning"
          @click="handleUnsilence">
          Unsilence
        </el-button>

        <el-button
          v-if="!isEnabled"
          plain
          type="success"
          @click="handleEnable">
          Enable...
        </el-button>

        <el-button
          icon="el-icon-delete"
          plain
          type="danger"
          @click="showDeleteConfirm">
          Delete...
        </el-button>

        <el-dialog
          title="Are you sure you want to delete this rule?"
          :visible.sync="deleteDialogVisible"
          width="30%">
          <div>
            Additional comment:
            <el-input v-model="deleteDialogCommitMessage" />
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="handleDeleteClose">Cancel</el-button>
            <el-button type="primary" @click="handleDeleteConfirmed">Confirm</el-button>
          </span>
        </el-dialog>

        <el-dialog
          :visible.sync="moveVisible"
          title="Move"
          width="40%"
          @close="moveVisible = false">
          <div>
            <FolderTree v-model="moveDest" type="rules" />
          </div>
          <span slot="footer">
            <el-button @click="moveVisible = false">Cancel</el-button>
            <el-button type="primary" @click="move">Move rule</el-button>
          </span>
        </el-dialog>
      </el-row>

      <br>

      <el-tabs v-model="activeTab" type="card" class="m-n-sm">
        <el-tab-pane label="Overview" name="overview">
          <template v-if="$store.state.config.settings.index && $store.getters['config/config']()">
            <ConfigSettings :view-only="true" type="rule" />
            <ConfigCondition class="condition-view m-n-med m-s-sm" />
            <ConfigAlert :view-only="true" />
          </template>
        </el-tab-pane>

        <el-tab-pane label="Alert log" name="alert_log">
          <el-table v-loading="alertLogLoading" :data="alertLog" empty-text="">
            <el-table-column label="Alert sent" width="100">
              <span slot-scope="scope">
                <el-tag v-if="scope.row.alert_sent" type="success">Sent</el-tag>
                <el-tag v-else type="danger">Not sent</el-tag>
              </span>
            </el-table-column>
            <el-table-column label="Alert time" width="170">
              <span slot-scope="scope">
                {{ shortDate(scope.row.alert_time) }}
              </span>
            </el-table-column>
            <el-table-column label="Alert type" width="100">
              <span slot-scope="scope">
                {{ titleCase(scope.row.alert_info && scope.row.alert_info.type) }}
              </span>
            </el-table-column>
            <el-table-column label="Exception" prop="alert_exception" />
          </el-table>
        </el-tab-pane>

        <el-tab-pane label="Query log" name="query_log">
          <el-table v-loading="queryLogLoading" :data="queryLog" empty-text="">
            <el-table-column label="Start time" width="170">
              <span slot-scope="scope">
                {{ shortDate(scope.row.starttime) }}
              </span>
            </el-table-column>
            <el-table-column label="End time" width="170">
              <span slot-scope="scope">
                {{ shortDate(scope.row.endtime) }}
              </span>
            </el-table-column>
            <el-table-column label="Hits" prop="hits" width="100" />
            <el-table-column label="Matches" prop="matches" width="100" />
            <el-table-column label="Time taken" prop="time_taken" />
          </el-table>
        </el-tab-pane>

        <el-tab-pane label="Silence log" name="silence_log">
          <el-alert
            show-icon
            title="NOTE: Matches are automatically silenced when you've already
          been alerted within the rule's re-alert timeframe." />
          <el-table v-loading="silenceLogLoading" :data="silenceLog" empty-text="">
            <el-table-column label="Until" width="170">
              <span slot-scope="scope">
                {{ shortDate(scope.row.until) }}
              </span>
            </el-table-column>
            <el-table-column label="Timestamp" width="170">
              <span slot-scope="scope">
                {{ shortDate(scope.row['@timestamp']) }}
              </span>
            </el-table-column>
            <el-table-column label="Exponent" prop="exponent" />
          </el-table>
        </el-tab-pane>

        <el-tab-pane v-if="yaml" label="Elastalert YAML" name="yaml">
          <div class="text-muted m-s-lg">
            This YAML is generated by Praeco and run in its internal
            <a href="https://github.com/Yelp/elastalert" target="_blank">Elastalert</a> server.

            <div :class="{'block': isYamlEditMode || isBaseRuleEditMode, 'inline': !isYamlEditMode && !isBaseRuleEditMode}">
              <div v-if="isYamlEditMode || isBaseRuleEditMode">
                Additional edit comment which will be shown in rule's edit history: <el-input v-model="commitMessage" class="el-input-big" />
              </div>

              <el-button v-if="!isYamlEditMode && !isBaseRuleEditMode" icon="el-icon-edit" plain type="primary" @click="handleYamlEdit">
                Edit
              </el-button>
              <el-button v-if="isYamlEditMode" icon="el-icon-check" plain type="primary" @click="handleYamlSave">
                Save
              </el-button>
              <el-button v-if="isYamlEditMode" icon="el-icon-close" plain type="primary" @click="handleYamlCancel">
                Cancel
              </el-button>

              <el-button v-if="!isBaseRuleEditMode && !isYamlEditMode" icon="el-icon-edit" plain type="primary" @click="handleBaseRuleEdit">
                Edit {{ baseRuleName }}
              </el-button>
              <el-button v-if="isBaseRuleEditMode" icon="el-icon-check" plain type="primary" @click="handleBaseRuleSave">
                Save {{ baseRuleName }}
              </el-button>
              <el-button v-if="isBaseRuleEditMode" icon="el-icon-close" plain type="primary" @click="handleBaseRuleCancel">
                Cancel
              </el-button>
            </div>
          </div>
          <div v-if="isYamlEditMode || isBaseRuleEditMode" class="text-danger m-s-lg">
            [WARNING] Editing rule's YAML directly could break something or bring unexpected results! Also using Tab WILL break this configuration file. If after modifying and saving not all fields updated in user interface, try to refresh page.
          </div>
          <prism-editor
            v-if="isBaseRuleEditMode"
            v-model="baseRuleEditContent"
            :highlight="highlighter"
            line-numbers
            ignore-tab-key />
          <prism-editor
            v-if="!isBaseRuleEditMode"
            v-model="yaml"
            :highlight="highlighter"
            :readonly="!isYamlEditMode"
            line-numbers
            ignore-tab-key />
        </el-tab-pane>

        <el-tab-pane label="History" name="history_log">
          <el-alert :closable="false" title="To compare 2 any commits press 2 required 'compare' buttons and diff-window will be opened automatically. To deselect button, just press it again." show-icon type="info" />

          <el-checkbox v-model="diffShowBaseRule">
            Show history for Base Rule
          </el-checkbox>

          <el-table v-loading="historyLogLoading" :data="historyLog" empty-text="">

            <el-table-column label="Timestamp" width="170">
              <span slot-scope="scope">
                {{ shortDateFromUnix(scope.row.date) }}
              </span>
            </el-table-column>

            <el-table-column label="ID" width="170">
              <span slot-scope="scope">
                {{ shortOid(scope.row.oid) }}
              </span>
            </el-table-column>

            <el-table-column label="Comment">
              <span slot-scope="scope">
                {{ scope.row['message'] }}
              </span>
            </el-table-column>

            <el-table-column label="Actions">
              <span slot-scope="scope">
                <el-button
                  icon="el-icon-view"
                  plain
                  type="info"
                  title="view commit"
                  @click="handleCommitView(scope)" />
                <el-button
                  icon="el-icon-set-up"
                  plain
                  :type="isCompareButtonSelected(scope) ? 'danger' : 'info'"
                  title="compare 2 commits"
                  @click="handleCompare(scope)" />
                <el-button
                  :disabled="!scope.$index"
                  icon="el-icon-upload"
                  plain
                  type="success"
                  title="restore this version"
                  @click="showRestoreConfirm(scope)" />
              </span>
            </el-table-column>
          </el-table>

          <el-dialog
            :visible.sync="diffVisible"
            :title="diffTitle"
            center
            fullscreen
            @close="diffVisible = false">
            <div>
              <el-checkbox v-model="diffShowSideBySide">
                Show side-by-side
              </el-checkbox>
            </div>
            <div>
              <code-diff
                :old-string="diffBefore"
                :new-string="diffAfter"
                :output-format="diffShowSideBySide ? 'side-by-side' : 'line-by-line'"
                :context="10" />
            </div>
          </el-dialog>

          <el-dialog
            :title="restoreTitle"
            :visible.sync="restoreVisible"
            width="30%">
            <div>
              Additional comment:
              <el-input v-model="restoreDialogCommitMessage" />
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button @click="handleRestoreClose">Cancel</el-button>
              <el-button type="primary" @click="handleRestoreConfirmed">Confirm</el-button>
            </span>
          </el-dialog>
        </el-tab-pane>

        <el-tab-pane v-if="$store.state.server.tenants.status === 'success' && $store.state.server.tenants.currentTenantCanShare == true" label="Share" name="share">
          <el-alert :closable="false" title="You can share this rule with other tenants within SIEMonster's ecosystem. To share this rule with other tenants, check desirable tenants and press 'share' button." show-icon type="info" />
          <div>
            <el-checkbox-group v-model="shareTenantsList">
              <div v-for="tenant in $store.state.server.tenants.list" class="share-item">
                <el-checkbox
                  :key="tenant.hostname"
                  :label="tenant.hostname"
                  :disabled="tenant.isCurrent || tenant.frameInfo.state !== 'live'">

                  {{ tenant.name }}

                  <el-tooltip
                    v-if="!tenant.isCurrent && tenant.frameInfo.state === 'live'"
                    effect="dark"
                    content="Praeco at this tenant is live."
                    placement="right">
                    <i class="el-icon-success color-success dimmed"/>
                  </el-tooltip>

                  <el-tooltip
                    v-if="tenant.frameInfo.state !== 'live'"
                    effect="dark"
                    :content="'Praeco at this tenant is not available: '+tenant.frameInfo.ex.message"
                    placement="right">
                    <i class="el-icon-error color-danger dimmed"/>
                  </el-tooltip>

                  <el-tooltip
                    v-if="tenant.isCurrent"
                    effect="dark"
                    content="This is current Praeco."
                    placement="right">
                    <i class="el-icon-warning-outline dimmed"/>
                  </el-tooltip>

                </el-checkbox>
              </div>
            </el-checkbox-group>
          </div>

          <div v-if="shareResult.length">
            <el-alert :closable="false" title="Result of rule sharing" show-icon type="info" />

            <el-table :data="shareResult" empty-text="">
              <el-table-column label="Tenant">
                <span slot-scope="scope">
                  {{ scope.row.tenant }}
                </span>
              </el-table-column>

              <el-table-column label="Result">
                <span slot-scope="scope">
                  <el-tag v-if="scope.row.status === 'success'" type="success">Success</el-tag>
                  <el-tag v-if="scope.row.error" type="danger">{{ scope.row.error }}</el-tag>
                </span>
              </el-table-column>

              <el-table-column />
            </el-table>
          </div>

          <el-button
            icon="el-icon-share"
            plain
            type="primary"
            title="share"
            :disabled="!shareTenantsList.length"
            @click="handleShare()">
            Share
          </el-button>

          <el-dialog
            :title="shareTitle"
            :visible.sync="shareVisible"
            width="30%">
            <div>
              Additional comment:
              <el-input v-model="shareDialogCommitMessage" />
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button @click="shareVisible = false">Cancel</el-button>
              <el-button type="primary" @click="handleShareConfirmed">Confirm</el-button>
            </span>
          </el-dialog>
        </el-tab-pane>
      </el-tabs>
    </template>

    <template v-else>
      <el-alert :closable="false" title="Rule not found, it may have been moved or deleted." type="error" show-icon />
    </template>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import moment from 'moment';
import CodeDiff from 'vue-code-diff';
import * as changeCase from 'change-case';
import Prism from 'prismjs';
import yaml from 'js-yaml';
import { logger } from '@/lib/logger.js';
import { selectNode } from '@/lib/tree';
import networkError from '../lib/networkError.js';

export default {
  components: { CodeDiff },
  props: ['id'],
  data() {
    return {
      loaded: false,
      silencePopoverVisible: false,
      now: new Date(),
      silenceTime: { hours: 2 },
      moveVisible: false,
      moveDest: '',
      showRename: false,
      newName: '',
      queryLog: [],
      alertLog: [],
      silenceLog: [],
      historyLog: [],
      isBaseRuleEditMode: false,
      baseRuleEditContent: '',
      isYamlEditMode: false,
      commitMessage: '',
      l_yaml: '',
      deleteDialogVisible: false,
      deleteDialogCommitMessage: '',
      activeTab: 'overview',
      queryLogLoading: false,
      alertLogLoading: false,
      silenceLogLoading: false,
      historyLogLoading: false,
      diffTitle: 'Commit Diff',
      diffVisible: false,
      diffShowBaseRule: false,
      diffShowSideBySide: true,
      diffBefore: '',
      diffAfter: '',
      diffCompareIds: [],
      restoreVisible: false,
      restoreOid: '',
      restoreTitle: '',
      restoreDialogCommitMessage: '',
      shareTenantsList: [],
      shareTitle: '',
      shareVisible: false,
      shareDialogCommitMessage: '',
      shareResult: []
    };
  },

  computed: {
    rule() {
      return this.$store.state.configs.rules[this.id] || {};
    },

    yaml: {
      get() {
        return this.l_yaml;
      },
      set(value) {
        this.l_yaml = value;
      }
    },

    silenceNotice() {
      if (!this.silenceLog || !this.silenceLog[0]) {
        return;
      }

      let silencedDate = new Date(this.silenceLog[0].until);

      if (this.now < silencedDate) {
        let formattedSilencedDate = moment(silencedDate).format('MMMM Do YYYY, h:mm:ss A');
        return `Rule silenced until ${formattedSilencedDate}`;
      }
    },

    name() {
      return this.$store.state.config.settings.name;
    },

    isEnabled() {
      return this.$store.state.config.settings.isEnabled;
    },

    baseRuleName() {
      return this.$store.state.config.settings.config_import;
    }
  },

  watch: {
    activeTab: function(val) {
      switch (val) {

        case 'query_log':
          this.getQueryLog();
          break;

        case 'alert_log':
          this.getAlertLog();
          break;

        case 'silence_log':
          this.getSilenceLog();
          break;

        case 'history_log':
          this.getHistoryLog();
          break;
      }
    },

    diffShowBaseRule: function(val) {
      this.getHistoryLog();
    }
  },

  async mounted() {
    selectNode(this.id);

    this.$store.dispatch('config/reset');
    await this.$store.dispatch('config/load', { type: 'rules', path: this.id });
    this.loaded = true;

    this.newName = this.name;

    setInterval(() => {
      this.now = new Date();
    }, 1000);

    this.yamlLoadCurrent();
  },

  methods: {
    updateSilenceTime(value) {
      this.silenceTime = value;
    },

    getYaml() {
      return this.$store.getters['config/yaml'](false, true)
    },

    //
    // Move
    //

    async move() {
      let newPath = await this.$store.dispatch('configs/moveConfig', {
        oldConfig: this.getYaml(),
        newPath: this.moveDest.replace(/_rules/, ''),
        type: 'rules'
      });

      // This action returns the new path, so if it does (will return falsey if not)
      // then route to it.
      if (newPath) {
        this.$router.push({
          path: `/rules/${newPath}`,
          query: { refreshTree: true }
        }).catch(() => {});
      } else {
        this.$message.warning(`Could not move the rule. Perhaps a rule with
                              the same name already exists at this location?`);
      }
    },

    showMoveDialog() {
      this.moveDest = '';
      this.moveVisible = true;
    },

    //
    // Rename
    //

    async rename() {
      let res = await this.$store.dispatch('configs/renameConfig', {
        config: this.getYaml(),
        newName: this.newName.trim(),
        type: 'rules'
      });

      // This action will return the new name back at us if it worked
      if (res) {
        this.$router.push({
          path: `/rules/${res}`,
          query: { refreshTree: true }
        }).catch(() => {});
      } else {
        this.$message.warning(`Could not rename the rule. Perhaps a rule
                              already exists with that name?`);
      }
    },

    showRenameInput() {
      this.showRename = true;
      Vue.nextTick(() => {
        this.$refs.rename.$el.querySelector('input').focus();
        this.$refs.rename.$el.querySelector('input').select();
      });
    },

    //
    // Duplicate
    //

    async duplicate() {
      let path = await this.$store.dispatch('configs/duplicateConfig', {
        config: this.getYaml(),
        type: 'rules'
      });

      // This action returns the path of the new rule
      if (path) {
        this.$router.push({
          path: `/rules/${encodeURIComponent(path)}`,
          query: { refreshTree: true }
        }).catch(() => {});
      } else {
        this.$message.warning('Could not duplicate the rule.');
      }
    },

    //
    // Delete
    //
    showDeleteConfirm() {
      this.deleteDialogVisible = true;
    },

    async handleDeleteConfirmed() {
      // send request to server
      await this.delete();

      // close dialog
      this.handleDeleteClose();

      // reset input text
      this.deleteDialogCommitMessage = '';
    },

    handleDeleteClose() {
      this.deleteDialogVisible = false;
    },

    async delete() {
      let deleted = await this.$store.dispatch('configs/deleteConfig', {
        path: this.id,
        type: 'rules',
        commitMessage: this.deleteDialogCommitMessage
      });

      // This action will return true/false depending on if the delete worked
      if (deleted) {
        this.$message({
          type: 'success',
          message: 'Rule deleted'
        });
        this.$router.push({ path: '/rules', query: { refreshTree: true } }).catch(() => {});
      } else {
        this.$message.warning('Could not delete the rule.');
      }
    },

    //
    // Disable
    //

    handleDisable() {
      this.$confirm(
        `Are you sure you want to disable this rule? This may take a
        few minutes to take effect, depending on elastalert settings.`,
        'Confirm',
        {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(async () => {
          let disabled = await this.$store.dispatch(
            'configs/disableRule',
            this.getYaml()
          );
          if (disabled) {
            this.$message({
              type: 'success',
              message: 'Rule disabled'
            });

            // refresh page
            this.$router.go();
          }
        })
        .catch(() => {});
    },

    //
    // Silence
    //

    async handleSilence(unit, duration) {
      this.silencePopoverVisible = false;

      let silenced = await this.$store.dispatch('configs/silenceRule', {
        path: this.id,
        unit,
        duration
      });

      setTimeout(() => {
        this.getSilenceLog();
      }, 1000);

      if (silenced) {
        this.$message({
          type: 'success',
          message: 'Rule silenced'
        });
      } else {
        this.$message({
          type: 'error',
          message: 'There was an error silencing the rule.'
        });
      }
    },

    //
    // Unsilence
    //

    async handleUnsilence() {
      this.silencePopoverVisible = false;

      let silenced = await this.$store.dispatch('configs/unsilenceRule', {
        path: this.id
      });

      setTimeout(() => {
        this.getSilenceLog();
      }, 1000);

      if (silenced) {
        this.$message({
          type: 'success',
          message: 'Rule unsilenced'
        });
      } else {
        this.$message({
          type: 'error',
          message: 'There was an error unsilencing the rule.'
        });
      }
    },

    //
    // Enable
    //

    handleEnable() {
      this.$confirm(
        `Are you sure you want to enable this rule? This may take a
        few minutes to take effect, depending on elastalert settings.`,
        'Confirm',
        {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(async () => {
          let enabled = await this.$store.dispatch(
            'configs/enableRule',
            this.getYaml()
          );

          if (enabled) {
            this.$message({
              type: 'success',
              message: 'Rule enabled'
            });

            // refresh page
            this.$router.go();
          }
        })
        .catch(() => {});
    },

    //
    // Query log
    //
    async getQueryLog() {
      // check if request is not running at the moment
      if (this.queryLogLoading) {
        return;
      }

      try {
        // lock new requests
        this.queryLogLoading = true;

        let res = await axios.get('/api/metadata/elastalert_status', {
          params: { rule_name: this.name }
        });
        if (res.data.error) {
          this.$notify.error({
            message: res.data.error.msg,
            title: 'Elasticsearch error',
            duration: 0
          });
          logger().error({ error: res.data.error });
        } else {
          this.queryLog = res.data.hits;
        }
      } catch (error) {
        networkError(error);
      } finally {
        this.queryLogLoading = false;
      }
    },

    //
    // Alert log
    //
    async getAlertLog() {
      // check if request is not running at the moment
      if (this.alertLogLoading) {
        return;
      }

      try {
        // lock new requests
        this.alertLogLoading = true;

        let res = await axios.get('/api/metadata/elastalert', {
          params: { rule_name: this.name }
        });
        if (res.data.error) {
          this.$notify.error({
            message: res.data.error.msg,
            title: 'Elasticsearch error',
            duration: 0
          });
          logger().error({ error: res.data.error });
        } else {
          this.alertLog = res.data.hits;
        }
      } catch (error) {
        networkError(error);
      } finally {
        this.alertLogLoading = false;
      }
    },

    //
    // Silence log
    //
    async getSilenceLog() {
      // check if request is not running at the moment
      if (this.silenceLogLoading) {
        return;
      }

      try {
        // lock new requests
        this.silenceLogLoading = true;

        let res = await axios.get('/api/metadata/silence', {
          params: { rule_name: this.name }
        });
        if (res.data.error) {
          this.$notify.error({
            message: res.data.error.msg,
            title: 'Elasticsearch error',
            duration: 0
          });
          logger().error({ error: res.data.error });
        } else {
          this.silenceLog = res.data.hits;
        }
      } catch (error) {
        networkError(error);
      } finally {
        this.silenceLogLoading = false;
      }
    },

    //
    // History
    //
    async getHistoryLog() {
      // check if request is not running at the moment
      if (this.historyLogLoading) {
        return;
      }

      try {
        // lock new requests
        this.historyLogLoading = true;

        let res = await axios.get('/api/history', {
          params: {
            type: 'rules',
            path: this.id,
            forBaseRule: this.diffShowBaseRule
          }
        });
        if (res.data.error) {
          this.$notify.error({
            message: res.data.error.msg,
            title: 'History error',
            duration: 0
          });
          logger().error({ error: res.data.error });
        } else {
          this.historyLog = res.data.hits;
        }
      } catch (error) {
        networkError(error);
      } finally {
        this.historyLogLoading = false;
      }
    },

    titleCase(val) {
      return changeCase.capitalCase(val);
    },

    shortDate(rawDate) {
      let [date, time] = new Date(rawDate).toLocaleString('en-US').split(', ');
      return `${date} ${time}`;
    },

    shortDateFromUnix(rawDate) {
      return this.shortDate(rawDate * 1000);
    },

    shortOid(oid) {
      return oid.substr(0, 8);
    },

    highlighter(code) {
      return Prism.highlight(code, Prism.languages.yml, 'yml');
    },

    handleYamlEdit() {
      this.isYamlEditMode = true;
    },

    handleYamlCancel() {
      this.isYamlEditMode = false;

      // reload current yaml file content
      this.yamlLoadCurrent();
    },

    yamlLoadCurrent() {
      this.l_yaml = this.$store.getters['config/yaml']();
    },

    async handleYamlSave() {
      try {
        // load yaml into json
        const newConfig = yaml.load(this.l_yaml, 'utf8');

        // send store-request
        const res = await this.$store.dispatch('configs/createConfig', {
          config: newConfig,
          type: 'rules',
          overwrite: true,
          commitMessage: this.commitMessage
        });
        this.commitMessage = '';

        // Return the full path back to the caller to update the UI
        this.$message({
          type: 'success',
          message: 'Rule edited successfully.'
        });

        // on success disable edit mode
        this.isYamlEditMode = false;

        // reload rule
        await this.reloadRule();
      } catch(e) {
        this.$message.error(`Failed to save YAML: ${e.message || e.toString() || 'unknown error'}`);
      }
    },

    async reloadRule() {
      Vue.config.lockYamlEdit = true;
      await this.$store.dispatch('config/load', {
        type: 'rules',
        path: this.id
      });
      Vue.config.lockYamlEdit = false;
    },

    //
    // Base Rule Edit
    //
    async handleBaseRuleEdit() {
      try {
        const res = await axios.get('/api/base_rule', {
          params: {
            path: this.id
          }
        });
        if (res.data.error) {
          this.$notify.error({
            message: res.data.error,
            title: 'Base Rule edit error.',
            duration: 0
          });
          logger().error({ error: res.data.error });
        } else {
          // set content to edit
          this.baseRuleEditContent = res.data;

          // open editor
          this.isBaseRuleEditMode = true;
        }
      } catch (error) {
        networkError(error);
      }
    },

    handleBaseRuleCancel() {
      this.isBaseRuleEditMode = false;
    },

    async handleBaseRuleSave() {
      try {
        // send request to server
        const res = await axios.put('/api/base_rule', {
          params: {
            path: this.id,
            content: this.baseRuleEditContent,
            commitMessage: this.commitMessage
          }
        });

        if (res.data.error) {
          this.$notify.error({
            message: res.data.error,
            title: 'Base Rule save error.',
            duration: 0
          });
          logger().error({ error: res.data.error });
        } else {
          // Return the full path back to the caller to update the UI
          this.$message({
            type: 'success',
            message: 'Base Rule edited successfully.'
          });

          // on success disable edit mode
          this.isBaseRuleEditMode = false;

          // empty commit message
          this.commitMessage = '';
        }
      } catch(e) {
        this.$message.error(`Failed to save YAML: ${e.message || e.toString() || 'unknown error'}`);
      }
    },

    // open dialog for 2 oids
    async diffOids(oid, oid2) {
      try {
        const row = this.historyLog.find(item => item.oid === oid2);

        // update title
        const oidSuffix = oid ? `${this.shortOid(oid2)} - ${this.shortOid(oid)}` : this.shortOid(oid2);
        this.diffTitle = `${this.shortDateFromUnix(row.date)} - ${row.message} [${oidSuffix}]`;

        // send request to server
        const res = await axios.get('/api/history/diff', {
          params: {
            path: this.id,
            oid,
            oid2,
            forBaseRule: this.diffShowBaseRule
          }
        });
        if (res.data.error) {
          this.$notify.error({
            message: res.data.error,
            title: 'Get diff error.',
            duration: 0
          });
          logger().error({ error: res.data.error });
        } else {
          this.diffBefore = res.data.oldFile;
          this.diffAfter = res.data.newFile;

          // open modal dialog
          this.diffVisible = true;
        }
      } catch (error) {
        networkError(error);
      }
    },

    // git commit view
    handleCommitView(scope) {
      // prepare vars
      const prevIndex = scope.$index + 1;
      const oid = this.historyLog[prevIndex] ? this.historyLog[prevIndex].oid : '';
      const oid2 = scope.row.oid;

      this.diffOids(oid, oid2);
    },

    // compare 2 commits
    handleCompare(scope) {
      const { oid } = scope.row;

      const alreadySelected = this.isCompareButtonSelected(scope);

      switch (true) {
        // unselect button
        case alreadySelected === true:
          const idx = this.diffCompareIds.findIndex(currentOid => currentOid === oid);
          if (idx >= 0) {
              this.diffCompareIds = [
                ...this.diffCompareIds.slice(0, idx),
                ...this.diffCompareIds.slice(idx + 1)
              ];
          }
          break;

        // select button
        case alreadySelected === false:
          this.diffCompareIds.push(oid);

          // open diff menu if 2 buttons were selected
          if (this.diffCompareIds.length === 2) {

            // form commits to be compared & sorted
            const toSort = [];
            for (let i = 0; i < this.diffCompareIds.length; i++) {
              const diffOid = this.diffCompareIds[i];
              const commit = this.historyLog.find(item => item.oid === diffOid);
              toSort.push(commit);
            }

            // for commits-to-compare sorted by creation date
            const commits = toSort.sort((a, b) => a.date - b.date);

            // open diff window
            this.diffOids(commits[0].oid, commits[1].oid);

            // reset selection
            setTimeout(() => {
              this.diffCompareIds = [];
            }, 3000);
          }
          break;
      }
    },

    isCompareButtonSelected(scope) {
      return this.diffCompareIds.includes(scope.row.oid);
    },

    showRestoreConfirm(scope) {
      this.restoreOid = scope.row.oid;
      this.restoreTitle = `Are you sure you want to restore this version of rule (${this.shortOid(this.restoreOid)})?`;
      this.restoreVisible = true;
    },

    handleRestoreClose() {
      this.restoreVisible = false;
    },

    async handleRestoreConfirmed() {
      try {
        // send request to server
        const res = await axios.get('/api/history/restore', {
          params: {
            path: this.id,
            oid: this.restoreOid,
            commitMessage: this.restoreDialogCommitMessage,
            forBaseRule: this.diffShowBaseRule
          }
        });

        // handle server response
        if (res.data.error) {
          this.$notify.error({
            message: res.data.error,
            title: 'Restore error.',
            duration: 0
          });
          logger().error({ error: res.data.error });
        } else {
          // reload rule
          await this.reloadRule();

          // reload history
          await this.getHistoryLog();

          // close modal dialog
          this.handleRestoreClose();

          // reset input text
          this.restoreDialogCommitMessage = '';
        }
      } catch (error) {
        networkError(error);
      }
    },

    handleShare() {
      const tenantsListReadable = [];
      this.shareTenantsList.map(tenantHostname => {
        const { name } = this.$store.state.server.tenants.list.find(tenantStore => tenantStore.hostname === tenantHostname);
        if (name) {
          tenantsListReadable.push(name);
        }
        return name;
      });

      this.shareTitle = `Are you sure you want to share this rule with these tenants: ${tenantsListReadable.join(', ')}?`;
      this.shareVisible = true;
    },

    async handleShareConfirmed() {
      try {
        // send request to server
        const res = await axios.post('/api/share', {
          params: {
            path: this.id,
            commitMessage: this.shareDialogCommitMessage,
            tenants: this.shareTenantsList
          }
        });

        // handle server response
        if (res.data.error) {
          this.$notify.error({
            message: res.data.error,
            title: 'Share error.',
            duration: 0
          });
          logger().error({ error: res.data.error });
        } else {
          // draw tooltip
          this.$message({
            type: 'success',
            message: 'Rule shared successfully.'
          });

          // show result
          this.shareResult = res.data;

          // close modal dialog
          this.shareVisible = false;

          // reset input text
          this.shareDialogCommitMessage = '';
        }
      } catch (error) {
        networkError(error);
      }
    }
  }
};
</script>

<style scoped>
.share-item {
  padding: 10px 0;
}
</style>
