<style scoped>
  .input-content {
    border: 1px solid #DCDFE6;
    background-color: #fff;
    color: #606266;
    padding: 0 15px;
    min-height: 28px;
    text-align: left;
  }
</style>

<template>
  <span>
    <at
      v-model="model"
      :members="fields"
      :allow-spaces="false"
      :add-scroll-offset-for-page-content="addScrollOffsetForPageContent"
      at="%"
    >
      <span slot="embeddedItem" slot-scope="s">
        <el-tag :data-term="transformSelected(s.current)" size="mini" type="info">{{ transformSelected(s.current) }}</el-tag>
      </span>
      <div :contenteditable="!viewOnly" class="input-content" />
    </at>
  </span>
</template>

<script>
import { elastalertYamlToAtVueFormat, atVueToElastalertFormat } from '@/lib/alertText';
import At from '../../vue-at';

export default {
  components: {
    At
  },

  props: {
    value: {
      type: String,
      required: true
    },
    viewOnly: {
      type: Boolean,
      default: false
    },
    addScrollOffsetForPageContent: {
      type: Boolean,
      default: true
    }
  },

  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        if (this.value !== value) {
          this.$emit('input', value);
        }
      }
    },

    fields() {
      return this.$store.getters[
        'metadata/templateFieldsForCurrentConfig'
      ];
    }
  },

  mounted() {
    this.model = elastalertYamlToAtVueFormat(atVueToElastalertFormat(this.value));
  },

  methods: {
    transformSelected(value) {
      const paths = value.split('.');
      return `{match[${paths.join('][')}]}`;
    }
  }
};
</script>
