<template>
  <div id="app">
    <Split style="height: 100%" @onDragEnd="onDragEnd">
      <SplitArea :size="sidebarWidth[0]" :min-size="0" style="background: #f8f8fb">
        <NavTree style="padding: 10px" />
      </SplitArea>
      <SplitArea id="page-content" :size="sidebarWidth[1]">
        <router-view :key="$route.fullPath" style="padding: 10px" />
      </SplitArea>
    </Split>
  </div>
</template>

<script>

export default {
  components: {
  },

  computed: {
    sidebarWidth: {
      get() {
        return this.$store.state.ui.sidebarWidth;
      },
      set(value) {
        this.$store.commit('ui/UPDATE_SIDEBAR_WIDTH', value);
      }
    }
  },

  mounted() {
    this.$store.dispatch('server/fetchVersion');
    this.$store.dispatch('server/fetchStatus');
    this.$store.dispatch('server/fetchTheHiveObservableTypes');
    this.$store.dispatch('server/fetchTenants');
    this.$store.dispatch('elastalert/fetchConfig');
  },

  methods: {
    onDragEnd(size) {
      this.sidebarWidth = size;
    }
  }
};
</script>

<style lang="scss">
html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #303133;
  background-color: #FAFAFA;
}

#app,
.el-aside > .el-menu,
.el-main > section {
  height: 100%;
}

#app .el-container {
  height: 100%;
}

.el-header img {
  height: 35px;
  width: auto;
  margin-top: 5px;
}

#app > section > .el-aside {
  padding: 22px 0 20px 10px;
}

.el-header {
  background: #ddd;
  height: initial !important;
}

.gutter.gutter-horizontal {
  opacity: 0;
}

.gutter.gutter-horizontal:hover {
  opacity: 1;
}
</style>
